@import url('../../App.css');
/* 
.grid-1-2{
    /* border: 1px solid blue; 
} */

/* @media screen and (min-width: 1024px) {
    .grid-1-2
    {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 2rem;
    }
  } */