@import url('../../App.css');

.contenedor-producto{
    border: 1px solid var(--border-color);
    background-color: white;
    width: 230px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition:all 1.9s ease;
    -moz-transition:all 1.9s ease;
    -o-transition:all 1.9s ease;
    -ms-transition:all 1.9s ease;
    /* width:100%; */
}
.contenedor-producto:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
.contenedor-producto img{
    /* -webkit-transition:all 1.9s ease;
    -moz-transition:all 1.9s ease;
    -o-transition:all 1.9s ease;
    -ms-transition:all 1.9s ease; */
    width:100%;
    
}
/* .contenedor-producto img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
} */