@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

*,
::after,
::before{
  font-family: 'Fredoka', sans-serif;
  box-sizing: inherit;
}
:root{
  --border-color: #dedede;
}
